<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.climbtogether">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/hiking_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/climb_together_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".personal_chat_activity.PersonalChatActivity"
                 android:windowSoftInputMode="stateVisible|adjustPan"/>
        <activity android:name=".friend_manager_activity.FriendManagerActivity" /> <!-- 這是掌控KeyBoard的關鍵 -->
        <activity
            android:name=".chat_activity.ChatActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity android:name=".mountain_collection_activity.MountainCollectionActivity" />
        <activity android:name=".login_activity.LoginActivity" />
        <activity android:name=".member_activity.MemberActivity" />
        <activity android:name=".home_activity.HomePageActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/> <!-- optional (needed if default theme has no action bar) -->
    </application>

</manifest>