<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hiking.climbtogether">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="com.huawei.appmarket.service.commondata.permission.GET_COMMON_DATA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/hiking_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/climb_together_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize">
        <activity android:name=".vote_list_activity.VoteListActivity"></activity>
        <activity android:name=".vote_activity.VoteActivity" />
        <activity android:name=".favorite_activity.FavoriteActivity" />
        <activity android:name=".personal_chat_photo_activity.PersonalPhotoActivity" />
        <activity android:name=".photo_activity.PhotoActivity" />
        <activity
            android:name=".search_friend_activity.SearchFriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".detail_activity.DetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my_equipment_activity.MyEquipmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".share_activity.ShareActivity"
            android:screenOrientation="portrait" />
        <!--
         Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/hiking_logo" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <activity
            android:name=".personal_chat_activity.PersonalChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".friend_manager_activity.FriendManagerActivity"
            android:screenOrientation="portrait" /> <!-- 這是掌控KeyBoard的關鍵 -->
        <activity
            android:name=".chat_activity.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".mountain_collection_activity.MountainCollectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login_activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".member_activity.MemberActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home_activity.HomePageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" /> <!-- optional (needed if default theme has no action bar) -->
        <service
            android:name=".MyFirbaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>